@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* .slider-bg {
  background: url("../../assets/img/partnership/bg\ 1\ png\ 1.png");
  background-size: cover;
  max-height: 100vh;
}
.slider-area .hero__img img {
  position: absolute;
  right: -20px !important;
}
.hero__caption p {
  font-size: 18px;
}
.card-body {
  margin-top: -30px;
} */

.bg-sponsors {
  margin-top: 70px;
}

.bg-speakers {
  background: url("../../assets/img/partnership/bg-past-speakers.png");
  background-size: cover;
  padding: 250px 0px 70px 0px;
}

.bg-booklet {
  margin-top: 5rem;
  background: url("../../assets/img/partnership/Group\ 10042.png");
  background-size: cover;
  min-height: 150vh;
}

.bg-booklet .content {
  padding-top: 220px;
}

.bg-booklet .content .booklet .right-content {
  width: 50%;
}

.bg-booklet .content .booklet .right-content h5 {
  font-size: 27px;
}

.bg-booklet .content .booklet .right-content .btn-linear {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(#fd749b -13.56%, #281ac8 158.3%);
}

.btn-linear:hover {
  box-shadow: 5px 5px 16px #8424df;
}

.title {
  font-weight: 700;
  font-size: 1.7rem;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.underline.colored {
  background-color: #fd749b;
}

.underline.white {
  background-color: white;
}

.underline {
  width: 5%;
  height: 3px;
  padding: 0.5px;
  margin: 0px auto;
  border-radius: 1rem;
}

.testimonial img {
  margin: 0px auto;
}

.content {
  padding: 50px 100px;
}

.video-area {
  border-radius: 0px;
}

@media (max-width: 998px) {
  .bg-sponsors {
    margin: 50px 0px;
  }

  .bg-speakers {
    max-height: 100vh;
    background: url("../../assets/img/partnership/bg-2.png");
    padding: 20px 0px;
  }

  .bg-booklet {
    background: url("../../assets/img/partnership/bg-3.png");
    background-size: cover;
    height: 100%;
  }

  .bg-booklet .content {
    padding-top: 50px;
  }

  .bg-booklet .content .booklet .right-content {
    width: 70%;
    text-align: center;
  }

  .bg-booklet .content .booklet .right-content h5 {
    font-size: 18px;
  }

  .underline {
    width: 10%;
  }

  .content {
    padding: 50px;
  }
}