@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.bg-sponsors {
  background: url(../../assets/img/bg_about.png);
  margin-top: 70px;
  padding: 50px 0px;
}

.bg-speakers {
  background-size: cover;
}
.slider-area .hero__img img {
  position: absolute;
  right: 10px;
}
.bg-booklet {
  margin: 100px 0px;
}
.booklet {
  background: linear-gradient(to top, #1e0338, #390967);
  border-radius: 2rem;
  border-top: 5px solid #fd7474;
}

.bg-booklet .content .booklet .right-content {
  width: 50%;
}

.bg-booklet .content .booklet .right-content h5 {
  font-size: 27px;
}

.btn-linear {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(#fd749b -13.56%, #281ac8 158.3%);
}

.btn-linear:hover {
  box-shadow: 5px 5px 16px #8424df;
}

.title {
  font-weight: 700;
  font-size: 1.7rem;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.underline.colored {
  background-color: #fd749b;
}

.underline {
  width: 5%;
  height: 3px;
  padding: 0.5px;
  margin: 0px auto;
  border-radius: 1rem;
}

.testimonial img {
  margin: 0px auto;
}

.content {
  padding: 50px 100px;
}

.video-area {
  border-radius: 0px;
}

@media (max-width: 998px) {
  .slider-bg {
    height: 100vh;
  }
  .bg-sponsors {
    margin: 50px 0px;
  }

  .bg-speakers {
    max-height: 100vh;
    padding: 20px 0px;
  }

  .bg-booklet {
    background-size: cover;
    height: 120vh;
  }

  .bg-booklet .content {
    padding-top: 50px;
  }

  .bg-booklet .content .booklet .right-content {
    width: 70%;
    text-align: center;
  }

  .bg-booklet .content .booklet .right-content h5 {
    font-size: 18px;
  }

  .underline {
    width: 10%;
  }

  .content {
    padding: 50px;
  }
}
