@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.slider-area .hero__img img {
  position: absolute;
  top: -200px;
  right: 50px !important;
}

.slider-area .hero__caption {
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .underline {
    margin: 0px auto;
    background-color: #fd749b;
    border: 0.2px solid #fd749b;
    border-radius: 25px;
    width: 5%;
    padding: 0.5px 0.5px;
  }
}

.slider-area .hero__caption p {
  margin-bottom: 54px;
  padding-right: 50px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px !important;
}

.main-content {
  margin: 100px 15%;
}

.main-content .container .about-fls {
  font-family: "Poppins", sans-serif !important;
  border: 1px solid #fd749b;
  border-radius: 2rem;
  padding: 50px 100px;
  background: linear-gradient(#1e0338, #7c0ce5);
  box-shadow: 1px 1px 25px #fff;
}

.title {
  font-weight: bold;
  font-size: 1.7rem;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-content .container .about-fls .about-caption h3 {
  font-size: 28px;
  font-weight: bold;
}

.main-content .container .about-fls .about-caption p {
  color: #ffffff;
  font-size: 15px;
}

.main-content .container .about-fls .icons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.main-content .container .about-fls .icons .icon {
  margin-right: 1.2rem;
}

.main-content .container .content {
  font-family: "Poppins", sans-serif !important;
  padding: 0px 100px;
  margin-top: 3rem;
}

.organizational-culture {
  padding: 0px 7rem;
  width: 100%;
  background: url(../../assets/img/bg_about.png);
  background-size: cover;
}

.organizational-content .text p {
  font-size: 16px;
  color: #ffffff;
}

.grand-theme {
  background: url(../../assets/img/about/bg-grand-dark.png);
  overflow-x: hidden;
  background-size: cover;
  min-height: 120vh;
  width: 100%;
}

.grand-theme .grand-content {
  padding-top: 150px;
}

.grand-theme .headline {
  margin-top: 150px;
  padding: 70px 0px;
}

.grand-theme .headline h1 {
  font-size: 80px;
  font-weight: bold;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  filter: drop-shadow(3px 3px #fff);
}

@media (max-width: 998px) {
  .slider-bg {
    max-height: 100vh;
  }

  .main-content {
    margin: 50px 10%;
  }

  .main-content .container .content {
    padding: 0px 10px;
  }

  .main-content .container .about-fls {
    padding: 50px 10px;
  }

  .main-content .container .about-fls .about-caption p {
    font-size: 13px;
  }

  .main-content .container .content .cards .card {
    width: 100%;
  }

  .grand-theme {
    min-height: 100vh;
    margin-top: 50px;
  }

  .grand-theme .grand-content {
    padding-top: 0px;
  }

  .grand-theme .headline {
    padding: 20px 0px;
  }

  .grand-theme .headline h1 {
    font-size: 40px;
  }
}