html{
	overflow-x: hidden;
}

body {
	padding-right: 0 !important;
	color: #fff;
	background-color: #1E0338;
}
.section-title {
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
	background: linear-gradient(180deg, #FD749B 17.11%, #9187FF 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;

	text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.section-title::after {
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	border-radius: 1.5rem;
	background: #fd749b;
	margin: 0 auto;
	margin-top: 0.5rem;
}

/* NAVBAR */
.header-area .main-header .menu-wrapper .main-menu.main__event ul li:hover > a {
	color: #fd749b;
}

.hero-title {
	font-size: 5.625rem;
	font-weight: 700;
	color: #fff;
	line-height: 1.2;
	text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
	background: linear-gradient(90deg, rgba(242, 84, 93, 0.9) 7.57%, rgba(107, 90, 169, 0.9) 54.88%, rgba(43, 186, 171, 0.9) 97.76%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 80px;
	padding: 0.5rem 2rem;
}

.slider-area.main__event .card {
	display: flex;
	padding: 10rem 0;
	justify-content: center;
	align-items: center;
}



@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.hero-title {
		border-radius: 40px;
		font-size: 5.625rem;
		line-height: 1.3;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.hero-title {
		font-size: 5rem;
		line-height: 1.2;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero-title {
		margin-bottom: 10px;
	}
	.hero-title {
		font-size: 4rem;
		line-height: 1.2;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.hero-title {
		font-size: 3.5rem;
	}
}

@media (max-width: 575px) {
	.hero-title {
		font-size: 40px !important;
		padding: 1rem;
		margin: 1rem 0;
	}
	.slider-area .single-slider {
		margin-bottom: 100px;
	}
	.slider-area.main__event .card {
		padding: 6rem 0;
	}
}

/* MAIN ROOM */
.main-room{
	background: url("../../assets/img/bg_about.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 4rem 0;
}
.main-room .card-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
	justify-content: center;
	gap: 2rem;
	margin-top: 3rem;
}

.main-room .card-wrapper .card > button {
	border: none;
	background: none;
	cursor: pointer;
	height: 100%;
}

.main-room .card {
	max-width: 400px;
	border-radius: 12px;
	transition: all 0.2s ease-in-out;
	border: none;
	height: 300px;
	background-color: transparent;
}

.main-room .card:hover {
	opacity: 0.8;
}

.main-room .card > img {
	object-fit: cover;
	object-position: center;
	height: 175px;
	border-radius: 12px 12px 0 0;
}

.main-room .card .card-body {
	border-radius: 0 0 12px 12px;
	height: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal.fade.show#modal_room {
	padding-right: 0 !important;
}

.main-room-modal .modal-body {
	padding: 0 1rem;
}
.main-room-modal .modal-description {
	padding: 1rem 2rem;
	border-radius: 40px;
}

.main-room-modal .modal-description p{
	color: #fff;
}

.main-room-modal .modal-content {
	padding-bottom: 1rem;
	background-color: #1E0338;
}

.modal {
	overflow: hidden !important;
}

.modal-dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 950px !important;
	height: 100%;
}

/* TIMELINE */
.timeline {
	display:flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1;
}

.timeline .section-title{
	margin-bottom: 4rem;
}

.card-event{
	margin-top: 4rem;
	width:80vw;
	padding:3rem 2rem;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	position: relative;
}

.card-event .event-day{
	position: absolute;
	background-color: #fff;
	min-width: 200px;
	height: 100px;
	padding:2rem;
	border-radius: 30px;
	top: -4.5rem;
	left: 0.5rem;
	font-weight: 700;
	font-size: 3rem;
	line-height: 25px;
	letter-spacing: -0.03em;
	z-index: -1;
}

.card-event .card-body{
	border-left: 5px solid #fff;
	padding:0 1rem;
}

.card-event .content-title{
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 25px;
	position: relative;
	color:#fff;
}

.card-event .content-title::before{
	content: "";
	position: absolute;
	top: 0;
	left: -2rem;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.card-event .content-main{
	width:100%;
	margin-top: 1rem;
	padding:1rem 2rem;
	background-color: #fff;
	font-weight: 500;
	font-size: 1.125rem;
	border-radius: 30px;
	text-align: justify;
}

.bg-card{
	position: relative;
	z-index: -1;
	padding: 8rem 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.bg-card.day1{
	background: linear-gradient(90deg, #A21558 0%, rgba(217, 217, 217, 0) 100%);
}

.card-event.day1{
	background: linear-gradient(180deg, #FD749B 0%, #C81A6D 99.99%, rgba(122, 104, 109, 0) 100%);
	color:#FA5886;
}

.card-event.day1 .content-title::before{
	background-color: #B4004C;
}

.card-event.day1 .event-day{
	border: 2px solid #FA5886;
}

.bg-card.day2{
	background: linear-gradient(90deg, #8A1280 0%, rgba(217, 217, 217, 0) 100%);
}

.card-event.day2{
	background: linear-gradient(180deg, #EA74FD 0%, #C81AB6 99.99%, rgba(122, 104, 109, 0) 100%);
	color:#CF2CEA;
}

.card-event.day2 .content-title::before{
	background-color: #B400AC;
}

.card-event.day2 .event-day{
	border: 2px solid #CF2CEA;
}

.bg-card.day3{
	background: linear-gradient(90deg, #184A92 0%, rgba(217, 217, 217, 0) 100%);
}

.card-event.day3{
	background: linear-gradient(180deg, #74C3FD 0%, #1A5FC8 99.99%, rgba(122, 104, 109, 0) 100%);
	color:#588FFA;
}

.card-event.day3 .content-title::before{
	background-color: #0073B4;
}

.card-event.day3 .event-day{
	border: 2px solid #588FFA;
}

.bg-card.pasca{
	background: linear-gradient(90deg, #8A1616 0%, rgba(217, 217, 217, 0) 100%);
}

.card-event.pasca{
	background: linear-gradient(180deg, #FD7474 0%, #C81A1A 99.99%, rgba(122, 104, 109, 0) 100%);
	color:#FA5858;
}

.card-event.pasca .content-title::before{
	background-color: #B40000;
}

.card-event.pasca .event-day{
	border: 2px solid #FA5858;
}

@media screen and (max-width:768px){
	html{
		font-size:14px;
	}
	.timeline{
		padding:0;
	}
	.card-event{
		width: 100vw;
		padding:3rem 0;
		padding-left:1rem;
	}
	.card-event.day1{
		margin-top: 8rem;
	}
	.comingsoon-event p{
		padding:0 0.5rem;
	}
	.card-event.day2{
		margin-top: 8rem;
	}
}