@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.slider-bg {
  background: url("../../assets/img/comingsoon/bg-top.png");
  background-size: cover;
}

.slider-area .hero__img img {
  position: absolute;
}

.slider-area .hero__caption {
  overflow: hidden;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 60px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.workshop-series {
  padding: 70px 0px;
}

.underline {
  margin: 0px auto;
  background-color: #fd749b;
  border: 0.2px solid #fd749b;
  border-radius: 25px;
  width: 7%;
  padding: 0.5px 0.5px;
}

.posters {
  flex-direction: row;
  margin-top: 5rem;
}

.bg-posters {
  background: url("../../assets/img/comingsoon/bg-poster.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.posters .poster {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}
.poster img {
  width: 350px;
  height: 450px;
  margin: 0px auto;
}

.btn-linear {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(#fd749b -13.56%, #281ac8 158.3%);
}
.card-body {
  margin-top: -50px;
}

@media (max-width: 998px) {
  .slider-bg {
    max-height: 100vh;
  }
  .slider-area .hero__img img {
    display: none;
  }
  .slider-area .hero__caption {
    overflow: hidden;
    position: relative;
  }
  .title {
    font-size: 42px;
  }
  .posters {
    flex-direction: column;
    margin-top: 0rem;
  }
  .posters .poster {
    margin-top: 3rem;
  }
}
