@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;600&display=swap");

body {
	color: #FFFFFF;
	background-color: #1E0338;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #fff;
}

.section-title {
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	background: linear-gradient(180deg, #FD749B 17.11%, #9187FF 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;

	text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.section-title::after {
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	border-radius: 1.5rem;
	background: #fd749b;
	margin: 0 auto;
	margin-top: 0.5rem;
}

/* HERO */
.merch-hero-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider-area .hero__caption h1 {
	font-size: 3.125rem;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
	font-family: 'Poppins', 'sans-serif';
}

.slider-bg-merch {
	background: url(../../assets/img/bg_type4.png);
	background-size: cover;
}

/* MERCHANDISE */
.merchandise {
	padding:3rem 0;
	position: relative;
	background: url("../../assets/img/bg_about.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.merch-page .responsive-slick-merch {
	min-height: 90vh !important;
}

.merch-page .slick-list {
	min-height: 90vh !important;
}

.merch-page .slick-track {
	margin: 2rem -15rem 0 -15rem;
}

.merch-page .slick-slide {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	width: 30vw;
}

.merch-page .slick-current {
	position: relative;
	height: 100%;
}

.merch-page .slick-current::before {
	content: "";
	position: absolute;
	top: 0;
	z-index: -1;
	height: calc(100% + 2rem);
	width: 25vw;
	background: linear-gradient(180deg, #390967 0%, #7C0CE5 100%);
	box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.25);
	box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
	border-radius: 140px;
}

.img-wrapper {
	height: 40vh;
	width: 25vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-wrapper>img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.merch-wrapper {
	text-align: center;
	margin: 0.5rem 0;
}

.merch-title {
	font-size: 2.25rem;
	font-family: "Sora", sans-serif;
	font-weight: 600;
}

.merch-price {
	font-size: 2rem;
	font-family: "Sora", sans-serif;
	font-weight: 600;
	color: #d60000;
}

.button-merch,
.button-bundling {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	padding: 0rem 4rem;
	display: flex;
	justify-content: space-between;
}

.next,
.prev {
	cursor: pointer;
	outline: none;
	border: none;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: #611BA4;
	box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
	backdrop-filter: blur(7px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 16px;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.text-line-through {
	text-decoration: line-through;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.merch-hero-img {
		display: none !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.merch-hero-img {
		display: none !important;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.merch-hero-img {
		display: none !important;
	}
}

@media (max-width: 575px) {
	.merch-hero-img {
		display: none !important;
	}
}

/* BUNDLING PACKAGE */
.bundling {
	height: 105vh;
	position: relative;
	background-image: url("../../assets/img/merch/bg-bundling.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	border-top: 17px solid #3E0A72;
	border-bottom: 17px solid #3E0A72;
}

/* ORDER */
.order {
	margin: 2rem 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 2rem;
}

.order-button {
	padding: 20px 40px;
	background: linear-gradient(178.18deg, #f8a4bc -13.56%, #711ac8 158.3%);
	border-radius: 100px;
	transition: all 0.3s ease-in-out;
	font-size: 2rem;
	font-weight: 700;
}

.order-button:hover {
	background: linear-gradient(178.18deg, #f8a4bc -2.56%, #711ac8 128.3%);
	box-shadow: 0px 25px 25px rgba(6, 7, 20, 0.1);
	backdrop-filter: blur(7px);
}

/* CONTACT PERSON*/

.list-contact>li>a:hover {
	text-decoration: underline;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
	.merch-page .slick-slide {
		padding-top: 3rem;
	}

	.merch-page .slick-current {
		display: block;
	}

	.merch-page .slick-current::before {
		width: 400px;
		top: 8%;
	}

	.merch-page .slick-track {
		margin: 0 10rem;
		padding-top: 3rem;
	}

	.merch-page .slick-slide {
		width: 42vw;
	}

	.merch-page .img-wrapper {
		width: 42vw;
	}

	.merch-page .responsive-slick-merch {
		margin-top: 4rem;
		min-height: 90vh !important;
	}

	.merch-page .slick-list {
		min-height: 90vh !important;
	}
}

@media screen and (max-width: 578px) {
	* {
		font-size: 12px;
	}

	.button-merch,
	.button-bundling {
		padding: 0 2rem;
	}

	.merch-page .slick-track {
		margin: 0;
		padding-top: 3rem;
	}

	.merch-page .slick-slide {
		width: 100vw;
	}

	.merch-page .img-wrapper {
		width: 100vw;
	}
}